body {
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(225, 100%, 94%);
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
